body {
	margin: 15px;
}

h1 {
	
}

a {
	color: black;
	text-decoration: none;
}

.essay {
	max-width: 400px;
	float: left;
}

.iframe {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 440;
}

.iframe iframe {
	border: 0;
	border-left: 1px solid #EEE;
}